<div class="transparent">
    <form method='post' action='/shuffle'>
        <div class="header">
            Have names you would like randomly paired?<br>
            Enter them below!</div>
        <div id="boxes"></div><br>
        <button>Randomize those names!</button>
    </form><br>
    <div id="randomNames">
    <%=name_list%>
    </div>
</div>