body{
    background-image: url("/images/grey-hex.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    width: 80%;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    color: white;
    padding: 10px;
}
#boxes{
    width: 50%;
    padding: 10px;

}
#randomNames{
    font-family: Robot, serif;
    font-weight: 300;
    font-size: 25px;
    padding: 5px;
    color: white;
}
.name_box{
    box-shadow: 1px 1px 1px black;
    padding: 5px;
    margin: 2px;
}
.transparent{
    background-color: #1f161698;
    border-radius: 15px;
    padding: 15px 0px 20px 0px;
    margin: 8px;
    width: 90%;
    height: 90%;
}